body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #535353;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*=================================HEADER AREA================================*/
.main-header {
  width: 100%;
  z-index: 5;
  position: relative;
}
#main-logo {
  width: 190px;
  height: 80px;
  float: left;
  margin-left: 100px;
  margin-top: -5px;
}
.logo-info-wrapper span {
  font-weight: bold;
  font-size: 1.2em;
}
.header-info-wrapper {
  float: right;
  margin-right: 80px;
  margin-top: 30px;
}
.header-info-wrapper span {
  margin-right: 15px;
}
.main-nav {
  clear: both;
  background-color: #ed1b24;
  width: 100%;
  height: 46px;
  z-index: 10;
}
.main-nav .main-nav-ul {
  margin-left: 60px;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}
.main-nav .main-nav-ul li {
  list-style: none;
  display: inline-block;
  padding: 12px 15px;
  margin-right: -4px;
}
.main-nav .main-nav-ul li:hover {
  cursor: pointer;
  background-color: #c80000;
}
.main-nav .main-nav-ul li:first-child {
  background-color: #ebebeb;
}
.main-nav .main-nav-ul li:first-child:hover {
  background-color: #c80000;
}
.main-nav .main-nav-ul li:first-child:hover .fa-home {
  color: white;
}
.main-nav .main-nav-ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.main-nav .fa-home {
  color: #2F2F2F;
  font-size: 1.2em;
}
.hover-hidden-menus {
  background-color: #c80000;
  padding: 0;
  margin: 0;
  width: 200px;
  position: absolute;
  font-weight: bold;
  font-size: 0.9em;
  z-index: 15;
}
.hover-hidden-menus li:hover {
  background-color: #b40000;
}
.hover-hidden-menus li {
  list-style: none;
  padding: 7px 15px;
  border-bottom: 1px solid gainsboro;
  cursor: pointer;
}
.hover-hidden-menus li a {
  color: white;
  text-decoration: none;
}
#hidden-hover-menu-1 {
  left: 145px;
  display: none;
}
#hidden-hover-menu-2 {
  left: 347px;
  display: none;
}
#hidden-hover-menu-3 {
  left: 461px;
  display: none;
}
#hidden-hover-menu-4 {
  left: 565px;
  display: none;
}
#hidden-hover-menu-5 {
  left: 665px;
  display: none;
}
#hidden-hover-menu-6 {
  left: 753px;
  display: none;
}
/*====================================SLIDER SECTION===========================*/
.slider-section {
  height: 600px;
  position: relative;
  z-index: 1;
}
.slider-section img {
  height: 100%;
  width: 100%;
}
.gallery-btn {
  height: 15px;
  width: 15px;
  background-color: white;
  display: inline-block;
  opacity: 0.7;
  margin: 3px;
  cursor: pointer;
}
.gallery-btn-wrapper {
  bottom: -30px;
  width: 150px;
  margin: -50px auto 0;
}
#gallery-btn-1 {
  opacity: 1;
}
.social-icons-wrapper {
  width: 75px;
  position: fixed;
  right: 0;
  top: 150px;
}
.fa-facebook:hover,
.fa-google-plus:hover,
.fa-skype:hover {
  opacity: 0.9;
}
.social-icons-wrapper a {
  display: block;
}
.social-icons-wrapper i {
  color: white;
  margin: 10px;
}
.fa-facebook {
  background-color: #004685;
  padding: 13px 19px;
}
.fa-google-plus {
  background-color: #dd4e42;
  padding: 20px 15px;
}
.fa-skype {
  background-color: #00aff0;
  padding: 13px 15px;
}
.form-many-selects {
  margin: -585px 100px 0 100px;
  line-height: 110px;
}
.form-many-selects #choose-select-btn-wrapper {
  background-color: rgba(241, 241, 241, 0.9);
  height: 130px;
  vertical-align: center;
  position: relative;
  z-index: 1;
}
.form-many-selects select {
  height: 35px;
  width: 190px;
  font-size: 0.8em;
  margin-left: 15px;
  color: inherit;
}
.form-many-selects button {
  height: 35px;
  background-color: #f3d225;
  border: none;
  font-weight: bold;
  width: 150px;
  color: inherit;
  margin-left: 15px;
}
.form-many-selects button:hover {
  opacity: 0.9;
  cursor: pointer;
}
#slider-headings-wrapper {
  background-color: rgba(241, 241, 241, 0.9);
  width: 400px;
  height: 150px;
  float: right;
  margin-top: 200px;
  text-align: center;
  font-size: 1.5em;
  line-height: 50px;
}
#slider-headings-wrapper:hover {
  text-decoration: underline;
}
#slider-headings-wrapper a {
  color: inherit;
  text-decoration: none;
}
/*==================================Bottom cookie and hover top ==================================*/
.cookie-and-hover-top-wrapper {
  background: rgba(0, 0, 0, 0.6);
  height: 50px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  z-index: 3;
}
.cookie-and-hover-top-wrapper p {
  opacity: 1;
}
.cookie-and-hover-top-wrapper a {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.cookie-and-hover-top-wrapper button {
  background-color: #ED1B24;
  color: white;
  border: none;
  padding: 7px 20px;
  font-size: 0.9em;
  cursor: pointer;
}
.hover-top-btn {
  position: absolute;
  background-color: #ed1b24;
  height: 65px;
  width: 65px;
  color: white;
  right: 10px;
  bottom: 10px;
  z-index: 22;
  cursor: pointer;
  display: none;
}
.hover-top-btn:hover {
  background-color: #c80000;
}
.hover-top-btn i {
  line-height: 65px;
}
.excursion-heading {
  color: inherit;
  text-decoration: none;
}
/*===============================TOP OFFERS SECTION================================*/
.top-offers-section {
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.top-offers-section article {
  display: inline-block;
  width: 31%;
  margin-bottom: 20px;
  background-color: white;
  z-index: -2;
  overflow: hidden;
  height: 340px;
}
.top-offers-middle-articles {
  margin-left: 30px;
  margin-right: 30px;
}
.top-offers-section article img {
  width: 100%;
  cursor: pointer;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.zoomImg {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
#top-offers-heading {
  text-transform: uppercase;
  color: white;
  background: #ed1b24;
  height: 50px;
  width: 150px;
  line-height: 50px;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 0;
}
.top-offers-section h5 {
  margin: 0;
  font-size: 1em;
  width: 70%;
}
.thin {
  margin-right: 10px;
  font-weight: lighter;
  position: absolute;
  top: 0;
  right: 0;
}
.price {
  font-weight: bold;
  font-size: 1.2em;
}
.offers-info-wrapper {
  width: 95%;
  margin: 0 auto;
  position: relative;
}
.offers-info-wrapper button {
  background-color: #f3d225;
  border: none;
  width: 100px;
  height: 40px;
  color: inherit;
  font-weight: bold;
  cursor: pointer;
  float: right;
  margin-top: -40px;
}
.offers-info-wrapper button:hover {
  opacity: 0.9;
}
.top-offers-section .offers-single-line-h5 {
  margin-bottom: 35px;
}
.flight-data {
  margin-top: 5px;
}
/*==================================Useful links and info section ===========================*/
.useful-links-section {
  width: 85%;
  margin: 0 auto;
}
.useful-links-section h6 {
  font-size: 1.3em;
  font-weight: 400;
  margin-top: 10px;
  color: #2F2F2F;
  margin-bottom: 10px;
}
.useful-links-section ul {
  padding-left: 0;
}
.useful-links-section ul li {
  display: inline-block;
  list-style: none;
}
.useful-links-section ul li a {
  text-decoration: none;
  color: inherit;
}
/*=====================================FOOTER================================*/
.main-footer {
  padding-bottom: 50px;
  background-color: #e1e1e1;
}
.telephones-email-container {
  background-color: #ed1b24;
  color: white;
  width: 100%;
  height: 50px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: right;
}
.telephones-email-container p {
  width: 90%;
  line-height: 50px;
}
.telephones-email-container span {
  margin-left: 10px;
}
.footer-logo-address-wrapper {
  width: 85%;
  margin: 10px auto 0;
}
#logo-info {
  float: left;
  margin-bottom: 20px;
}
#logo-info p,
#address-info p {
  margin-top: 0;
  margin-bottom: 5px;
}
#address-info {
  float: right;
}
#address-info h6 {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
.bold {
  font-weight: bold;
}
.all-rights-reserved {
  clear: both;
  border-top: 1px solid #2F2F2F;
  margin-top: 20px;
  font-size: 0.9em;
}
.all-rights-reserved span:last-child {
  float: right;
}
.zoom-img-wrapper {
  position: relative;
  overflow: hidden;
}
